.map-container {
  /* overflow: hidden; */
  width: 100%;
  height: 50%;
}

.info-show {
  display: block;
}
.no-info {
  display: none;
}
.marker-info {
  font-size: 10px;
}

.gm-ui-hover-effect {
  display: none;
}
