/* 
    header 
*/
.header {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding: 10px 15px;
}
.header .sitetitle {
  height: 50px;
  font-size: 40px;
  font-weight: bolder;
  color: #cd5c5c;
  cursor: pointer;
}
.linktag {
  cursor: pointer;
  color: #cd5c5c;
}
.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  line-height: 12px;
}
.header nav ul li {
  margin-left: 25px;
}
.header .linktag:hover {
  border-bottom: 1.8px solid #858a8f;
}

/* 
    footer 
*/
.footer .end {
  display: flex;
  background-color: #cd5c5c;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .sitetitle {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10%;
}
.footer .endnav {
  width: 60%;
  margin-top: 20px;
  margin-right: 10%;
}
.footer .endnav ul {
  display: flex;
  justify-content: right;
  font-weight: bold;
  line-height: 12px;
}
.footer .endnav ul li {
  margin-left: 10px;
}
.footer .linktag {
  cursor: pointer;
  color: #fff;
}
.footer .linktag:hover {
  text-shadow: 1px 1px 5px #fff;
}
.copywrite {
  width: 100vw;
  height: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
